.main-content__subtitle, .main-content__button, .menu{
  font-family: Roboto;
}

body {
 margin: 0;
}

.wrapper {
  width: 80%; /*1920 - 196 - 201 = 1523px,(1523px/1920px)*100% = 80%*/
  margin: auto;
}

.header {
 display: flex;
 justify-content: space-between;
}

.logo {
  position: relative;
  font: bold 24px/31px "PT Serif", arial, helvetica, sans-serif;
  padding: 40px 0;
  padding-left: 44px;
}

.menu {
 display: flex;
 align-items: center;
}

.menu__item {
 position: relative;
 margin-right: 26px;
 font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
 color: #000000;
 text-decoration: none;
 transition: opacity .5s;
}

.menu__item:hover{
  opacity: .5;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  opacity: 0;
  transition: opacity .5s, width .5s ;
  background: #0056EC;
 }

 .menu__item:hover:after, .menu__item_active:after{
   opacity: 1;
   width: 100%;
 }

.menu__item:last-child {
 margin-right: 0;
}

.logo__circle {
 width: 28px;
 height: 28px;
  left: 0; top: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.logo__circle_color_blue {
 left: 8px;
 top: 56%;
 opacity: .7;
 background: #C8DBFB;
}

.logo__circle_color_dark-blue {
 background: #0056EC;
}
