.main-content__subtitle, .main-content__button, .menu{
  font-family: Roboto;
}

body {
 margin: 0;
}

.wrapper {
  width: 80%;
  width: 80%; /*1920 - 196 - 201 = 1523px,(1523px/1920px)*100% = 80%*/
  margin: auto;
}

.header {
 display: flex;
 justify-content: space-between;
}

.logo {
 padding: 40px 0;
  position: relative;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
  padding: 40px 0;
  padding-left: 44px;
}

.menu {
 display: flex;
 align-items: center;
}

.menu__item {
 padding: 0 13px;
}

.menu__item:last-child {
 padding-right: 0;
}

.logo__circle {
 width: 28px;
 height: 28px;
  left: 0; top: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.logo__circle_color_blue {
 left: 8px;
 top: 56%;
 opacity: .7;
 background: #C8DBFB;
}

.logo__circle_color_dark-blue {
 background: #0056EC;
}